/Project/test2D/Library
/Project/test2D/Logs
/Project/test2D/obj
/Project/test2D/Packages
/Project/test2D/build
/Project/test2D/EffekseerEditor.csproj
/Project/test2D/PlayFab.csproj
/Project/test2D/PlayFabEditorExtensions.csproj
/Project/test2D/PlayFabSDKEditor.csproj
/Project/test2D/test2D.sln
/Project/test2D/.vs
/Project/test2D/Assembly-CSharp.csproj
/Project/test2D/Effekseer.csproj
/Project/test2D/Assets/Effekseer/Plugins/iOS
/Project/test2D/Temp/EffekseerPluginSwitcher
/Project/test2D/Temp/UnityLockfile
